@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/functions' as *;

body{
    background-color: $body-background;
    margin: 0;
    padding: 0;
}

header{
    height: $header-height;
    @include header-bg;

    h1{
        font-size: $main-title;
        font-family: $main-font;
        letter-spacing: 2px;
        text-transform: $text-transform;
        color: $scnd-txclr;
        padding-block-start: 2rem;
        width: $width;
        margin: $auto;
        padding-block-start: 5%;
    }
}

h2{
    @include secondary-title;
    width: $width;
}

.fb-ig{
    @include icon-div;
    gap: 10px;
}

.icon{
    @include icon;

    i{
        line-height: 50px;
        width: 50px;
        cursor: $cursor;
    }

    &:hover{
        color: $scnd-txclr;
        background: $body-background;
        transition: 0.5s;
    }
}

.btn-top{
    height: 50px;
    width: $width-100;
    margin-block-end: 5rem;
    
    button{
        @include button;
        cursor: $cursor;
        position: absolute;
        right: 13%;
        background: $scnd-txclr;

        &:hover{
            @include btn-hover;
        }
    }
}

.block{
    background: $light-bg;
    margin: 2rem;
}

.theme{
    @include theme-box;
    display: $display-in-block;

    img{
        padding-block-start: 3rem;
        width: $width-70;
        display: $display-block;
        margin: $auto;
    }

    span{
        padding: 3rem;
    }

    button{
        display: $display-block;
        width: 150px;
        margin: 0 auto;
        background: $btn-bg;

        @include button;

        &:hover{
            cursor: $cursor;
            letter-spacing: 1.5px;
            transition: 0.5s;
        }
    }
}

p{
    @include p;
    text-align: $left;
    margin-block: 10rem;
}

.portfolio-row{
    display: $display-flex;
    flex-flow: wrap;
    padding-inline: 2rem;
    padding-block-end: 10rem;
    justify-content: space-around;
}

.row{
    display: $display-in-block;
    width: 320px;
    
        img{
            padding-top: 5rem;
            width: $width-100;
            display: $display-block;
            margin: $auto;
        }   
}

footer{
    
    height: $footer-height;
    @include footer-bg;
    display: $display-flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;

    h3{
        @include secondary-title;
        font-size: $paragraph-font;
    }

    h3 a{
        text-decoration: $none-txt-deco;
        color: $ternary-color;
    }
}