body {
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  height: 400px;
  background: url("image/bg.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 22% 70%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0, 100% 100%, 22% 70%, 0% 100%);
  position: relative;
}
header h1 {
  font-size: 4em;
  font-family: verdana;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c5bcaa;
  padding-block-start: 2rem;
  width: 80%;
  margin: 0 auto;
  padding-block-start: 5%;
}

h2 {
  font-family: verdana;
  text-transform: uppercase;
  color: #c5bcaa;
  margin: 0 auto;
  width: 80%;
}

.fb-ig {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 10px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #c5bcaa;
  color: white;
  font-size: 35px;
  text-align: center;
}
.icon i {
  line-height: 50px;
  width: 50px;
  cursor: pointer;
}
.icon:hover {
  color: #c5bcaa;
  background: white;
  transition: 0.5s;
}

.btn-top {
  height: 50px;
  width: 100%;
  margin-block-end: 5rem;
}
.btn-top button {
  color: white;
  border: none;
  font-family: verdana;
  font-weight: bold;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 10px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 13%;
  background: #c5bcaa;
}
.btn-top button:hover {
  font-size: 19px;
  transition: 0.5s;
}

.block {
  background: rgba(155, 165, 156, 0.1490196078);
  margin: 2rem;
}

.theme {
  width: 49.45%;
  display: inline-block;
}
.theme img {
  padding-block-start: 3rem;
  width: 70%;
  display: block;
  margin: 0 auto;
}
.theme span {
  padding: 3rem;
}
.theme button {
  display: block;
  width: 150px;
  margin: 0 auto;
  background: #9ba59c;
  color: white;
  border: none;
  font-family: verdana;
  font-weight: bold;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 10px;
  text-transform: uppercase;
  text-align: center;
}
.theme button:hover {
  cursor: pointer;
  letter-spacing: 1.5px;
  transition: 0.5s;
}

p {
  color: #9f9980;
  font-family: verdana;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  margin-block: 10rem;
}

.portfolio-row {
  display: flex;
  flex-flow: wrap;
  padding-inline: 2rem;
  padding-block-end: 10rem;
  justify-content: space-around;
}

.row {
  display: inline-block;
  width: 320px;
}
.row img {
  padding-top: 5rem;
  width: 100%;
  display: block;
  margin: 0 auto;
}

footer {
  height: 250px;
  background: url("image/bg.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-clip-path: polygon(22% 33%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(22% 33%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}
footer h3 {
  font-family: verdana;
  text-transform: uppercase;
  color: #c5bcaa;
  margin: 0 auto;
  font-size: 20px;
}
footer h3 a {
  text-decoration: none;
  color: #9f9980;
}

@media (max-width: 750px) {
  .theme {
    width: 100%;
  }
  .theme img {
    width: 100%;
  }
  .row {
    width: 100%;
  }
}
@media (max-width: 570px) {
  header h1 {
    font-size: 3em;
  }
}
@media (max-width: 450px) {
  header {
    height: 80vh;
  }
  header h1 {
    font-size: 2.5em;
  }
  header h2 {
    font-size: 18px;
    padding-block-start: 1rem;
  }
}
@media (max-width: 350px) {
  header h1 {
    font-size: 2.2em;
  }
}/*# sourceMappingURL=style.css.map */